{% extends "layouts/_master.twig" %}

{% block title %}
    {{ index.title }}
{% endblock %}

{% block content %}
    <div class="posts__container py-3">
        <div class="card-columns">
            {% for post in index.posts %}
                <div class="card hvr-float mb-5">
                    <img class="card-img-top" src="{{ post.image }}"></img>
                    <div class="card-body">
                        <h2>{{ post.title }}</h2>
                        <p>{{ post.content }}</p>
                    </div>
                    <a href="{{ post.url }}" class="stretched-link"></a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}